{% for ass in site.data.assignments %}

{% if ass.deliverable == "main" %}
  {% if ass.title %}<h1>{{ ass.title }}&nbsp;({{ ass.percent }}%)</h1>{% endif %}

    {% if ass.description %}
    <p>
      {{ ass.description }}
    </p>
  {% endif %}
  {% if ass.eval %}<h2>Evaluation criteria</h2>
      <p>
        {{ ass.eval }}
      </p>  
   {% endif %}

{% elsif ass.deliverable == "rec" %}
  
  {% if ass.title %}<h2>{{ ass.title }}</h2>{% endif %}
    <p>
       ({{ ass.points }})
    </p>
  {% if ass.description %}
    <p>
      {{ ass.description }}
    </p>
  {% endif %}

{% elsif ass.deliverable == "int" %}

  {% if ass.first = "1" %}<h2>Intermediate deliverables</h2>{% endif %}

  {% if ass.title %}<h3>{{ ass.title }}</h3>{% endif %}
    <p>
       Due: <strong>{{ ass.due}}</strong> ({{ ass.points }} points)
    </p>
    {% if ass.description %}
    <p>
      {{ ass.description }}
    </p>
  {% endif %}

{% elsif ass.deliverable == "fin" %}

  {% if ass.first = "1" %}<h2>Final deliverables</h2>{% endif %}

  {% if ass.title %}<h2>{{ ass.title }}</h2>{% endif %}
    <p>
       Due: <strong>{{ ass.due}}</strong> ({{ ass.points }} points)
    </p>
    {% if ass.description %}
    <p>
      {{ ass.description }}
    </p>
  {% endif %}

{% endfor %}