<span class="print-footer">This version of the {{ site.subtitle }} syllabus was updated {{ site.time | time_tag }}. Be aware that the schedule and other elements of the site are subject to continuous update.</span>

    <script>
     // set an element
     //$("#todaydate").val( moment().format('D MMM YYYY') );

     // set a variable
     var todaydate = moment().format('dddd, D MMMM, YYYY');
     
     // insert today into 
     document.getElementById("todaydate").innerHTML = todaydate
    </script>