/* This file contains all the constants for colors and font styles */

$body-font:   ETBembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
// Note that Gill Sans is the top of the stack and corresponds to what is used in Tufte's books
// However, it is not a free font, so if it is not present on the computer that is viewing the webpage
// The free Google 'Lato' font is used instead. It is similar.
$sans-font:  "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
$code-font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
$url-font: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
$text-color: #e0daca;//#d4cbb4; //#5d4232;
$bg-color: #5d4232; //#d4cbb4;
$contrast-color: #7bc2ab;
$contrast-color-dark: #e8743a; 
$code-color: #bbb;
$code-color-block: #bbb;
$code-background-block: #222;
$border-color: #d4cbb4; //#fff;
$link-style: color; // choices are 'color' or 'underline'. Default is color using $contrast-color set above



