---
layout: default
---
<h1>{{ page.title }}</h1>

{% capture datestamp %}{{page.date | date: "%F"}}{% endcapture %}
{% capture today %}{{site.time | date: "%F"}}{% endcapture %}
<p class="subtitle">{{ page.date | date: "%A, %-d %B %Y" }}{% if datestamp == today  %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="smaller date contrast">TODAY</span>{% endif %}</p>

{% for ass in site.data.assignments %} 
  {% if forloop.first == true %}
  <ul>
  {% endif %}
  {% if ass.due == datestamp %}
      <li><a href="/assignments#{{ ass.title | slugify }}"><i>{{ ass.title }}</i> DUE {% if datestamp == today  %}TODAY {% endif %}({% if ass.deliverable == "int" %}intermediate{% elsif ass.deliverable == "fin" %}final{% endif %} deliverable for <i>{{ ass.cattitle }}</i>)</a></li>
  {% endif %}
  {% if forloop.last == true %}
  </ul>
  {% endif %}
{% endfor %}

{% unless page.noreading == true %}

<h2>Assigned reading</h2>

{% bibliography --template bibliography-annote --query @*[keywords ^= {{ page.session }}] %}

{% endunless %}

{{ content }}

<p>
  <br/>
  <ul class="tags">
    {% for tag in page.tags %}<li><a href="/topics#{{ tag | cgi_escape }}" class="tag">{{ tag | replace: " ", "-" }}</a></li>{% endfor %}
  </ul> 
</p>